In [2]:
#importing relevant libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [2]:
#Loading the imputed csv output from 'Capstone_NHTSA_Imputations' python notebook which are free of null values.
comp = pd.read_csv(r"C:\Users\shanm\OneDrive\Desktop\Kavya\Spring 25\NHTSA dataset-20250211T191427Z-002\NHTSA dataset\Complaints\complaints_imputed.csv", low_memory = True)

In [9]:
comp[(comp['MAKETXT'].str.contains('TOYOTA')) &  (comp['MODELTXT'].str.contains('SEQUOIA')) & (comp['YEARTXT'] == 2004) & (comp['COMPDESC'].str.contains('SUSPENSION:FRONT:CONTROL ARM:LOWER BALL JOINT'))]

,CMPLID,MAKETXT,MODELTXT,YEARTXT,CRASH,FAILDATE,FIRE,INJURED,DEATHS,COMPDESC,...,CRUISE_CONT_YN,DRIVE_TRAIN,FUEL_TYPE,VEH_SPEED,PROD_TYPE,MEDICAL_ATTN,VEHICLES_TOWED_YN,AGE,MILES_NEW,OCCURRENCES_NEW
63765,820762,TOYOTA,SEQUOIA ...,2004.0,N,19010101,N,1,0,SUSPENSION:FRONT:CONTROL ARM:LOWER BALL JOINT ...,...,N,NaN,GS,NaN,V,N,N,6.0,77271.053442,1.0

In [3]:
target = pd.read_csv(r"C:\Users\shanm\OneDrive\Desktop\Kavya\Spring 25\NHTSA dataset-20250211T191427Z-002\NHTSA dataset\Target\target.csv", low_memory = True)

In [5]:
target.head()

            MAKE    MODEL    YEAR           COMPNAME  INV_IND  RCL_IND  TARGET
0  PACE AMERICAN  TRAILER  2003.0             WHEELS        1      0.0     1.0
1  PACE AMERICAN  TRAILER  2004.0             WHEELS        1      0.0     1.0
2  PACE AMERICAN  TRAILER  2005.0             WHEELS        1      0.0     1.0
3  PACE AMERICAN  TRAILER  2006.0             WHEELS        1      0.0     1.0
4       APEXCONE  APX9004  9999.0  EXTERIOR LIGHTING        1      1.0     2.0

In [6]:
target['TARGET'].value_counts()

1.0    36268
2.0     4537
Name: TARGET, dtype: int64